[submodule "src/driver/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico"]
	path = src/driver/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico.git
[submodule "include/picowi"]
	path = include/picowi
	url = https://github.com/jbentham/picowi.git
